* {
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

.navbar {
    height: 65px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/* Logo */

.nav-logo {
    height: 50px;
    width: 130px;
    

}
.logo {
    background-image: url("/amazon-logo.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

}
.border {
    border: 1.5px solid transparent;
    padding: 8px 10px;
}
.border:hover {
    border: 1.5px solid white;
}

/* GPS */
.add-icon {
    display: flex;
    align-items: center;

}
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;

}
.add-second {
    font-size: 1rem;
    
}
/* Search */
.nav-search {
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    background-color: yellow;
    border-radius: 5px;

}
.select-search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #E6E6E6;
    width: 51.6px;
    border: none;
    text-align: center;
}
.input-search {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    
}
.search-icon {
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.nav-search:active{
    border: 3px solid orange; 
}
.nav-search:hover .search-icon{
    background-color: #f6af45;
}

/** Sign in  and Returns & Orders */
span {
    font-size: 0.8rem;
    color: #FFFFFF;
    font-weight: 400;

}
.nav-second {
    font-size: 0.975rem;
    font-weight: 700;
}

.account {
    display: flex;
    align-items: center;
    
}

.account select {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    width: 15px;

}

/* Cart */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.975rem;
    color: #FFFFFF;
    font-weight: 700;
}

/* Second header */ 
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}

.panel-items p {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 15px;

}
.panel-items {
    width: 70%;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}